
html{

    font-size: 20px;
}

/* Type Selectors*/

body{
    background-color: #D8D9DA;
    text-align: center; 
    color:black;
    font-family: monospace,Arial, Helvetica, sans-serif;
}

img {
    width : 20%;
    height: 20%; 
}

h1{

    font-size: 3rem;
   }


/* Class Selectors*/

.recipes {

    font-size: 1.5rem;
    text-decoration: none;
}

